*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 80%;
    height: object-fit;
    --swiper-pagination-color: #fff;
    --swiper-navigation-color: #fff;
    /* --swiper-pagination-bullet-inactive-color: #fff; */
    --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination-bullet{
    background: #fff;
}